 <div class="user-details">
  <h1> Overview </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!-- <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <img alt="unitylogo" src="/assets/img/unitylogo.svg" style="width:72px"/>
       <!-- style="width:15%" -->
      <p>Object-oriented programming.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gimp-plain colored"></i>
      <i class="devicon-visualstudio-original-wordmark colored"></i>
      <p>Some tools I am used to.</p>
    </div>
</div>
