 <div class="user-details">
  <h1> Overview </h1>
  <p> {{site.user_description}} </p>
  <i data-icon="&#xea86;"></i>
  <span data-icon="&#xea86;"></span>
  <span class="icon-mail4"></span>
  <span class="icon-mail4"></span>
  <span class="icon-mail4"></span>
</div>
<div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Object-oriented programming.</p>
    </div>
    <div class="tech">
      <h2>Libraries & Engines</h2>
      <div>
        <span class="icon-unity-master-black"></span>
        <span class="icon-gamemaker_logo"></span>
      </div>
      <div>
        <span class="icon-qt-transp"></span>
        <span class="icon-SDL_Mod"></span>
      </div>
      <p>Some tools I am used to.</p>
    </div>
    <div class="testing">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p>Testing icomoon font</p>
    </div>
</div>
