<div class="user-details">
  <h1> Professional Projects </h1>
</div>
<!-- American Girl World -->
<div class="user-projects">
  <div class="images-left">
    <img alt="americangirl" src="{{ "/assets/img/ag.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> American Girl World </i></h3>
    <p>{{site.project_AG}}</p>
    <div class="toolsused">
      <i class="icon-unity-master-black"></i>
    </div>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.americangirl.agworldapp&hl=en">Android</a>
    <a class="project-link" href="https://itunes.apple.com/gy/app/american-girl-world/id1247698882?mt=8">iOS</a>
  </div>
</div>
<!-- Hemp Inc -->
<div class="user-projects">
  <div class="images-right">
    <img alt="hempinc" src="{{ "/assets/img/hempinc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hemp Inc </h3>
    <p>{{site.project_HempInc}}</p>
    <div class="toolsused">
      <i class="icon-unity-master-black"></i>
    </div>
    <a class="project-link" href="https://play.google.com/store/apps/details?id=com.hkastudios.hempinc">Android</a>
    <a class="project-link" href="https://itunes.apple.com/app/apple-store/id1059378205?mt=8">iOS</a>
  </div>
</div>
<!-- e-pione -->
<div class="user-projects">
  <div class="images-left">
    <img alt="neuro" src="{{ "/assets/img/neuro.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> e-pione </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>{{site.project_Epione}}</p>
    <div class="toolsused">
      <i class="devicon-python-plain colored"></i>
    </div>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<div class="user-details">
  <h1> Personal and Academic Projects </h1>
</div>
<!-- SDL 2D Platformers Editor -->
<div class="user-projects">
  <div class="images-left">
    <img alt="s2peditor" src="{{ "/assets/img/s2peditor2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SDL 2D Platformers Editor </h3>
    <p>{{site.project_S2PEditor}}</p>
    <div class="toolsused">
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="icon-SDL_Mod"></i>
      <i class="icon-qt-monocolor"></i>
    </div>
    <a class="project-link" href="https://github.com/afrosistema/S2PEditor">GitHub</a>
  </div>
</div>
<!-- Think before you jump -->
<div class="user-projects">
  <div class="images-right">
    <img alt="thinkb4" src="{{ "/assets/img/thinkb4.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Think before you jump </h3>
    <p>{{site.project_ThinkB4}}</p>
    <div class="toolsused">
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="icon-SDL_Mod"></i>
    </div>
    <a class="project-link" href="https://ldjam.com/events/ludum-dare/39/think-before-you-jump">Check it out</a>
  </div>
</div>
