<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" /> -->
    <img alt="hempinc" src="{{ "/assets/img/hempinc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hemp Inc </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
    <img alt="americangirl" src="{{ "/assets/img/ag.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> American Girl World </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
    <img alt="thinkb4" src="{{ "/assets/img/thinkb4.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Think before you jump </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <!-- <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" /> -->
    <img alt="s2peditor" src="{{ "/assets/img/s2peditor.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SDL 2D Platformers Editor </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
